.banner .logo {
  display: flex;
  isolation: isolate;
}

.banner .logo-text {
  text-shadow: 5px 5px 5px rgb(0 0 0 / .5);
  color: #efeeff;
  font-family: var(--font-logo);
  font-size: 4rem;
  font-weight: 800;
  position: relative;
  z-index: 1;
  cursor: default;
}

.banner .logo-svg {
  width: 3rem;
  opacity: 0;
  transform: translate(-100%);
  filter: drop-shadow(5px 3px 3px rgb(0 0 0 / 1));
}

.hand-pop {
  animation-name: hand-show, hand-pop, hand-hide;
  animation-duration: 0.3s, 0.5s, 0.4s;
  animation-delay: 0s, 0.3s, 0.8s;
  animation-timing-function: ease-out, ease-out, ease-in;
  animation-fill-mode: forwards;
}

@keyframes hand-show {
  100% {
    opacity: 1;
    transform: translate(10%);
  }
}

@keyframes hand-pop {
  50% {
    transform: translateY(-10%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes hand-hide {
  100% {
    opacity: 0;
    transform: translate(-100%);
  }
}