:root {
  --banner-bg: url('./assets/images/html-1900.jpg');
  --banner-bg-pos: 0% 23%;
  --bg-height: 20rem;
  --bg-overlay-color: #777;
  --bg-opc: .3;
}

.banner {
  height: var(--bg-height);
  background-image: var(--banner-bg);
  background-position: var(--banner-bg-pos);
  background-size: cover;
  isolation: isolate;
  position: relative;
}

.banner::before {
  position: absolute;
  content: '';
  inset: 0;
  background-color: var(--bg-overlay-color);
  opacity: var(--bg-opc);
}