:root {
  --banner-bg: url('../assets/images/html-1900.jpg');
  --banner-bg-pos: 60% 0;
  --bg-height: 30rem;
  --bg-overlay-color: #222;
  --bg-opc: .2;
}

.banner {
  height: var(--bg-height);
  background-image: var(--banner-bg);
  background-position: var(--banner-bg-pos);
  background-size: cover;
  isolation: isolate;
  position: relative;
  color: #fff;
  font-family: var(--font-logo);
}

.banner::before {
  position: absolute;
  content: '';
  inset: 0;
  background-color: var(--bg-overlay-color);
  opacity: var(--bg-opc);
}

.logo-text {
  position: relative;
  display: block;
  font-size: clamp(3rem, calc(3rem + .5vw), 3.5rem);
  font-weight: 800;
}