@import './logo/logo.css';
@import './nav/nav.css';

.banner {
  min-height: 10rem;
  backdrop-filter: blur(10px);
  padding: 0 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}