@import './home/home.css';
@import './educ/educ.css';
@import './experience/work-exp.css';
@import './skills/skills.css';
@import './projects/projects.css';

#educ,
#work,
#skills,
#projects {
  scroll-margin-top: 40vh;
}

main h2,
main h3,
main p,
main span {
  cursor: default;
}

main {
  width: 100%;
  padding: 0 5rem;
  max-width: 160rem;
  margin: 0 auto;
}

.sections {
  margin-top: 20rem;
  width: 100%;
  padding: 0 5rem;
  
  display: grid;
  grid-template-rows: repeat(4, minmax(25rem, auto));
  grid-auto-rows: 30rem;
}

.sections h2 {
  text-shadow: 5px 5px 5px rgb(0 0 0 / .5);
  font-size: 3rem;
  font-family: var(--font-general);
  font-weight: 900;
  position: relative;
}

.sections section p {
  font-family: var(--font-general);
  font-size: 1.6rem;
}

.anchor {
  opacity: 0;
}

.icon-svg {
  position: absolute;
  width: 100%;
  max-width: 3.5rem;
}