@import './home/home.css';
@import './educ/educ.css';
@import './experience/work-exp.css';
@import './skills/skills.css';
@import './projects/projects.css';

#educ,
#work,
#skills{
  scroll-margin-top: 40vh;
}

#projects {
  scroll-margin-top: 20vh;
} 

main h2,
main h3,
main p,
main span {
  cursor: default;
}

main {
  width: 100%;
  padding: 0 5rem;
  max-width: 160rem;
  margin: 0 auto;
}

.sections {
  margin-top: 20rem;
  width: 100%;
  padding: 0 5rem;
  
  display: grid;
  grid-template-rows: repeat(4, minmax(25rem, auto));
  grid-auto-rows: 30rem;
}

.sections h2 {
  text-shadow: 5px 5px 5px rgb(0 0 0 / .5);
  font-size: 3rem;
  font-family: var(--font-general);
  font-weight: 900;
  position: relative;
}

.sections section p {
  font-family: var(--font-general);
  font-size: 1.6rem;
}

.anchor {
  opacity: 0;
}

.icon-svg {
  position: absolute;
  width: 100%;
  max-width: 3.5rem;
}

.show-anchor {
  animation: show 1s ease-out;
}

@keyframes show {
  40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.move-cap {
  animation: full-cap-sequence linear 1.6s alternate 2;
}

@keyframes full-cap-sequence {
  30% {
    transform: translate(20%, -50%); 
  }
  60% {
    transform-origin: center;
    transform: translateY(-50%) rotate(-30deg);
  }
  60%,
  100% {
    transform: translate(50%, -30%) rotate(-30deg); 
  }
}

.move-bag {
  animation: full-bag-sequence linear .5s;
}

@keyframes full-bag-sequence {
  25% {
    transform: scale(0.8, 1.2);
  }

  50% {
    transform: scale(1.2, 0.8);
  }
}

.move-tool {
  animation: torpedo ease .5s alternate 2;
}

@keyframes torpedo {
  100% {
    transform: translateY(-3rem) rotate(360deg);
  }
}