.educ {
  justify-self: center;
  align-self: top;

  text-align: center;
}

.educ header {
  margin-bottom: 2rem;
}

.educ .degree {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}

.sections header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cap {
  position: absolute;
  top: -4%;
  left: -22%;
  width: 100%;
  max-width: 4.3rem;
  fill: #222;
}

.univ {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

.pup-logo {
  width: 2.5rem;
}

.font-color-green {
  color: rgb(191, 255, 0, 1);
}