:root {
  --header-box-shadow: .5rem .5rem 1rem .1rem #ddd;
}

header {
  font-family: var(--font-headings);
  padding: 2rem;
}

header .occupation {
  font-family: var(--font-general);
  font-weight: 800;
  font-size: 1.3rem;
  letter-spacing: .2rem;
}

.intro-wrapper {
  box-shadow: var(--header-box-shadow);
}

.intro {
  translate: -2rem -2rem;
}

h1 {
  font-size: clamp(4rem, calc(4rem + .1vw), 5rem);
  line-height: clamp(4rem, calc(11rem - 12vw), 11rem);
}

h1 span {
  display: block;
}