.home {
  width: 100%;
}

.intro {
  display: flex;
  justify-content: space-between;
}

.owner-img {
  max-width: 50rem;
  position: relative;
  isolation: isolate;
}

.owner-img img {
  width: 100%;
  display: block;
}

.ivan {
  position: absolute;
  max-width: 40rem;
  z-index: 0;
  filter: brightness(.8) contrast(1.2) drop-shadow(12px 20px 5px rgb(0, 0, 0, .3));
}

.slash {
  transform: translate(-20%, 26%) rotate(87deg);
  position: relative;
  z-index: 1;
  filter: brightness(1) contrast(.8) drop-shadow(12px -20px 5px  rgb(0, 0, 0, .3));
}

.greeting {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 3rem;
}

.greeting h1 {
  font-family: var(--font-headings);
  font-size: 8rem;
  line-height: 110%;
  text-shadow: 10px 5px 10px rgb(0 0 0 / .6);
}

.greeting .pos {
  font-family: var(--font-general);
  letter-spacing: .5rem;
  font-size: 1.4rem;
  font-weight: 800;
}

.desc {
  max-width: 60rem;
}

.desc p {
  font-family: var(--font-general);
  font-size: 1.5rem;
}

/* icons-svg */

.icons {
  width: 100%;
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.icons a {
  width: 100%;
  max-width: 3.5rem;
  position: relative;
}

.icon {
  max-width: 3.5rem;
  fill: #fff;
  fill-opacity: .8;
  filter: drop-shadow(5px 5px 5px rgb(0, 0, 0, 0.9));
}

.icons a:focus {
  outline: none;
}

.icon:hover,
.icons a:focus .icon {
  fill-opacity: 1;
  filter: drop-shadow(5px 5px 5px rgb(0, 0, 0, 1));
  transform: scale(1.05);
}

.contact {
  width: 100%;
  margin-top: 3rem;
}

.contact button:focus {
  outline: none;
}

.contact button {
  font-size: 2rem;
  font-family: var(--font-general);
  font-weight: 900;
  color: #222;
  padding: .5rem 1rem;
  border-radius: 1rem;
  background-color: rgb(191, 255, 0, 0.8);
  border: 3px solid #001122;
}