@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&display=swap');
@import './root.css';
@import './reset.css';
@import './banner/banner.css';
@import './main/main.css';

.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}