@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import './root.css';
@import './reset.css';
@import './banner/banner.css';
@import './main-content/main-content.css';

body {
  position: relative;
  color: var(--font-color-body);
}

.positioned-fixed-bg {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-image: url('./assets/svg/516e8a-001122-1900.svg');
  background-size: cover;
  z-index: -1;
}

.main-wrapper {
  position: relative;
  max-width: 160rem;
  z-index: 0;
  margin: 0 auto;
}

footer {
  min-height: 5rem;
  font-size: 1.4rem;
  font-family: var(--font-general);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1300px) {
  .intro {
    display: grid;
    grid-template-columns: 50% 1fr;
    min-height: 50rem;
  }

  .owner-img {
    max-width: 45rem;
    justify-self: center;
    align-self: end;
  }

  .ivan {
    max-width: 37rem;
  }

  .greeting h1 {
    font-size: 7rem;
  }

  .greeting .pos {
    letter-spacing: .3rem;
  }

  .sections {
    padding: 0;
  }

  .projects li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .ss-container .ss {
    max-width: 60rem;
    margin: 0 auto;
  }

  .details h3 {
    display: none;
  }

  .hidden-header {
    display: block;
  }

  .hidden-header h3 {
    margin-bottom: 0;
  }

  .resto .ss-container {
    width: 100%;
  }

  .imgs {
    max-width: 80rem;
    gap: 2.5rem;
  }

  .imgs img {
    max-width: 70rem;
  }

  footer {
    background-color: #00112280;
  }
}

@media (max-width: 1100px) {

  .main-wrapper {
    width: 100%;
    max-width: 110rem;
  }

  main {
    padding: 0;
  }

  .banner {
    width: 100%;
    padding: 0 5rem;
    min-height: 5rem;
  }

  .banner .logo-text {
    font-size: clamp(3rem, calc(2rem + 1.364vw), 3.5rem);
  }

  .anchors a {
    font-size: clamp(1.5rem, calc(1rem + .546vw), 1.6rem);
  }

  .intro {
    min-height: 40rem;
  }

  .owner-img {
    max-width: 40rem;
    justify-self: end;
    align-self: end;
  }

  .owner-img .slash {
    max-width: 35rem;
    transform: translate(-19.5%, 26%) rotate(87deg);
  }

  .owner-img .ivan {
    max-width: 28rem;
  }

  .greeting h1 {
    font-size: clamp(4.2rem, calc(1rem + 4.729vw), 5rem);
  }

  .greeting .pos {
    letter-spacing: .2rem;
    font-weight: 700;
  }

  .desc {
    margin-top: 2rem;
  }

  .desc p {
    font-size: 1.4rem;
  }

  .icons a {
    max-width: 2.8rem;
  }

  .contact {
    margin-top: 2rem;
  }

  .contact a {
    font-size: 1.6rem;
  }

  .work {
    display: grid;
    grid-template-columns: none;
  }

  .work h2 {
    justify-self: center;
  }

  .work .content {
    padding-left: 0;
  }

  .bag {
    left: -13%;
  }

  .end .note {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {

  .banner {
    padding: 0 2rem;
  }

  .banner .logo-svg {
    width: 2.3rem;
  }

  nav .anchors {
    gap: 1rem;
  }

  .anchors span {
    display: none;
  }

  .anchors svg {
    display: block;
    width: 3rem;
  }

  .anchors a {
    min-height: 4rem;
    min-width: 4rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  [href="#skills"] svg {
    width: 2.5rem;
  }

  .anchors [href="#projects"] {
    position: relative;
    justify-content: start;
  }

  [href="#projects"] svg {
    width: 2rem;
    position: absolute;
  }

  [href="#projects"] .top {
    top: 17%;
  }

  [href="#projects"] .bot {
    bottom: 10%;
    left: 40%;
  }

  .intro {
    display: flex;
    margin-top: 5rem;
  }

  .greeting {
    flex: 1;

    display: flex;
    gap: 1rem;
  }

  .owner-img {
    display: none;
  }

  .owner-mobile {
    display: grid;
    width: 100%;
    min-height: 25rem;
    position: relative;
    isolation: isolate;
  }

  .owner-mobile img {
    width: 18rem;
    height: 18rem;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(0.8) contrast(1.2);
    z-index: 1;
    will-change: transform;
  }

  .small-circ {
    width: 20rem;
    height: 20rem;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    transform: rotate(40deg);
    border-top: 5px solid rgb(191, 255, 0, 1);
    border-bottom: 5px solid rgb(191, 255, 0, 1);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    z-index: 0;
  }

  .big-circ {
    width: 22rem;
    height: 22rem;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    transform: rotate(-30deg);
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    z-index: 0;
  }

  .rotate-forward {
    animation: rotate ease-out 1.4s;
  }

  @keyframes rotate {
    100% {
      transform: rotate(400deg);
    }
  }

  .rotate-backwards {
    animation: rotate-rev ease-out 1.4s;
  }

  @keyframes rotate-rev {
    100% {
      transform: rotate(-390deg);
    }
  }

  .head {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .desc {
    max-width: 40rem;
  }

  .desc p {
    text-align: center;
  }

  .icons {
    justify-content: center;
  }

  .contact {
    display: flex;
    justify-content: center;
  }

  .sections h2 {
    font-size: 2.5rem;
  }

  .icon-svg {
    width: 3rem;
  }

  .work .content {
    padding: 2rem 1rem;
  }

  .ss-container {
    padding: 0 2rem;
  }

  .note {
    text-align: center;
    padding: 0 1rem;
  }
}

@media (max-width: 500px) {
  .banner {
    padding: 0 1rem;
  }

  .banner .logo-text {
    font-size: 2.5rem;
  }
  
  .banner .logo-svg {
    width: 2rem;
  }

  .anchors a {
    min-width: 3rem;
    min-height: 3rem;
  }

  .anchors svg {
    width: 2.3rem;
  }

  [href="#skills"] svg {
    width: 1.8rem;
  }

  [href="#projects"] svg {
    width: 1.4rem;
  }

  [href="#projects"] .bot {
    bottom: 11%;
    left: 34%;
  }

  .desc p {
    padding: 0 1rem;
  }

  .sections h2 {
    font-size: 2.3rem;
  }

  .icon-svg {
    width: 2.6rem;
  }

  .educ .degree {
    font-size: 1.6rem;
  }

  .sections section p {
    font-size: 1.4rem;
  }

  .pup-logo {
    width: 1.6rem;
  }

  .bag {
    top: 15%;
  }

  .work h3 {
    font-size: 1.8rem;
  }

  .work .company {
    letter-spacing: normal;
  }

  .skills .content {
    padding: 0 1rem;
  }

  .hidden-header h3 {
    font-size: 1.8rem;
  }

  .ss-container {
    padding: 0 1rem;
  }

  .carousel {
    padding: 0;
    box-shadow: 5px 5px 5px rgb(0 0 0 / .5);
  }

  .details .summary {
    padding: 0 1rem;
  }

  .project-links a {
    font-size: 1.4rem;
  }

  .notif {
    max-width: 32rem;
    gap: 1rem;
  }

  .info-svg {
    width: 4rem;
  }

  .note {
    font-size: 1.8rem;
  }
}